.pokemon {
    a {
        position: relative;
        display: block;
        padding: 1.25rem;
        background: url('/images/pokeball.svg') no-repeat;
        background-position: top right;
        background-size: 9rem;
        border-radius: 0.3125rem;

        transition: transform .2s;

        &:focus,
        &:hover {
            transform: translateY(-0.25rem);
        }

        .image {
            display: block;
            margin: 0 auto;
            position: absolute;
            top: -1.25rem;
            right: 1.25rem;

            img {
                width: 8.125rem;
            }
        }

        .patternIcon {
            width: 4.625rem;
            position: absolute;
            top: 0.3125rem;
            left: 5rem;
        }

        .number {
            display: block;
            font-weight: 600;
            font-size: 0.875rem;
            color: #17171B99;
        }

        .name {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .25rem;
            white-space: nowrap;

            color: var(--white);
        }

        .typeList {
            font-size: 0.75rem;
            font-weight: 500;

            li {
                display: inline-flex;
                align-items: center;

                padding: .25rem .5rem;
                border-radius: 0.1875rem;
                margin-right: .25rem;

                color: var(--white);

                svg {
                    width: 0.75rem;
                    height: 0.75rem;
                    margin-right: .25rem;
                    fill: var(--white);
                }

                &.Bug {
                    background-color: var(--type-bug);
                }

                &.Dark {
                    background-color: var(--type-dark);
                }

                &.Dragon {
                    background-color: var(--type-dragon);
                }

                &.Electric {
                    background-color: var(--type-electric);
                }

                &.Fairy {
                    background-color: var(--type-fairy);
                }

                &.Fighting {
                    background-color: var(--type-fighting);
                }

                &.Fire {
                    background-color: var(--type-fire);
                }

                &.Flying {
                    background-color: var(--type-flying);
                }

                &.Ghost {
                    background-color: var(--type-ghost);
                }

                &.Grass {
                    background-color: var(--type-grass);
                }

                &.Ground {
                    background-color: var(--type-ground);
                }

                &.Ice {
                    background-color: var(--type-ice);
                }

                &.Normal {
                    background-color: var(--type-normal);
                }

                &.Poison {
                    background-color: var(--type-poison);
                }

                &.Psychic {
                    background-color: var(--type-psychic);
                }

                &.Rock {
                    background-color: var(--type-rock);
                }

                &.Steel {
                    background-color: var(--type-steel);
                }

                &.Water {
                    background-color: var(--type-water);
                }
            }
        }

        &.Bug {
            background-color: var(--background-type-bug);
        }

        &.Dark {
            background-color: var(--background-type-dark);
        }

        &.Dragon {
            background-color: var(--background-type-dragon);
        }

        &.Electric {
            background-color: var(--background-type-electric);
        }

        &.Fairy {
            background-color: var(--background-type-fairy);
        }

        &.Fighting {
            background-color: var(--background-type-fighting);
        }

        &.Fire {
            background-color: var(--background-type-fire);
        }

        &.Flying {
            background-color: var(--background-type-flying);
        }

        &.Ghost {
            background-color: var(--background-type-ghost);
        }

        &.Grass {
            background-color: var(--background-type-grass);
        }

        &.Ground {
            background-color: var(--background-type-ground);
        }

        &.Ice {
            background-color: var(--background-type-ice);
        }

        &.Normal {
            background-color: var(--background-type-normal);
        }

        &.Poison {
            background-color: var(--background-type-poison);
        }

        &.Psychic {
            background-color: var(--background-type-psychic);
        }

        &.Rock {
            background-color: var(--background-type-rock);
        }

        &.Steel {
            background-color: var(--background-type-steel);
        }

        &.Water {
            background-color: var(--background-type-water);
        }
    }
}