.resultFilterList {
    display: flex;
    justify-content: space-between;
    
    padding-bottom: .75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--grey-100);
}

.skeletonCardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    max-width: 64rem;
    margin: 0 auto;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7rem;
        padding: 1.5rem;
        border-radius: 0.3125rem;

        background-color: var(--white);

        > div {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                gap: 0.125rem;
            }
        }
    }
}

@media(max-width: 960px) {
    .skeletonCardList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 670px) {
    .skeletonCardList {
        grid-template-columns: repeat(1, 1fr);
    }
}