.pokemonList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    max-width: 64rem;
    margin: 0 auto;
}

.btnLoadMore {
    display: block;
    height: 3rem;
    padding: 0 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0;    
    border-radius: .25rem;

    background: var(--red-300);
    color: var(--white);
}