.numberResultsSearch {
    margin-bottom: 1rem;
}

.pokemonList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    max-width: 64rem;
    margin: 0 auto;
}

.emptyMessage {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 700px;
    margin: 0 auto;    
    padding: 1rem;
    border-radius: .5rem;

    border: 1px solid var(--grey-100);
    background: var(--white);

    .imageContainer {
        margin-right: 2rem;

        img {
            width: 8.25rem;
        }
    }

    .messageContainer {
        h4 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
            font-weight: bold;

            color: var(--red-350);
        }

        p {
            margin-bottom: .75rem;
            font-weight: 500;
        }

        ul {
            list-style: initial;
            padding-left: 1.25rem;

            li {
                margin-bottom: .5rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.containerLoadMore {
    text-align: center;
    position: relative;

    .loadIcon {
        display: flex;
        position: absolute;
        left: 50%;
        top: 1rem;
        transform: translate(-50%, 0);
        width: 1.5rem;
        height: 1.5rem;

        svg {
            animation-name: spin;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            fill: var(--grey-300);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    button {
        height: 3rem;
        padding: 0 3rem;
        border: 0;
        border-radius: .25rem;
        margin-top: 3.5rem;
        transition: background .2s;

        background: var(--red-300);
        color: var(--white);

        &:focus,
        &:hover {
            background: var(--red-350);
        }
    }
}

@media(max-width: 960px) {
    .pokemonList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 640px) {
    .pokemonList {
        grid-template-columns: repeat(1, 1fr);
    }

    .emptyMessage {
        .imageContainer {
            display: none;
        }
    }
}