.pokemonList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 64rem;
    margin: 0 auto;

    .pokemon {
        margin: 0 .75rem 1.5rem .75rem;
        transition: transform .2s;

        &:hover {
            transform: translateY(-0.25rem);
        }

        a {
            position: relative;
            display: block;
            padding: 1.25rem;
            background: url('/images/pokeball.svg') no-repeat;
            background-position: top right;
            background-size: 145px;
            border-radius: 5px;

            .image {
                display: block;
                margin: 0 auto;
                position: absolute;
                top: -20px;
                right: 20px;               
            }

            .patternImage {
                position: absolute;
                top: 5px;
                left: 80px;
            }

            .number {
                display: block;
                font-weight: 600;
                font-size: 0.875rem;
                color: #17171B99;
            }
    
            .name {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .25rem;
                color: #FFFFFF;
            }
    
            .typeList {
                font-size: 0.75rem;
                font-weight: 500;
    
                li {
                    display: inline-flex;
                    align-items: center;

                    padding: .25rem .5rem;
                    border-radius: 0.1875rem;
                    margin-right: .25rem;

                    color: var(--white);

                    img {
                        margin-right: .25rem;
                        filter: brightness(20);
                    }
    
                    &.Bug {
                        background-color: var(--type-bug);
                    }

                    &.Dark {
                        background-color: var(--type-dark);
                    }
    
                    &.Dragon {
                        background-color: var(--type-dragon);
                    }

                    &.Electric {
                        background-color: var(--type-electric);
                    }
    
                    &.Fairy {
                        background-color: var(--type-fairy);
                    }

                    &.Fighting {
                        background-color: var(--type-fighting);
                    }
    
                    &.Fire {
                        background-color: var(--type-fire);
                    }

                    &.Flying {
                        background-color: var(--type-flying);
                    }
    
                    &.Ghost {
                        background-color: var(--type-ghost);
                    }

                    &.Grass {
                        background-color: var(--type-grass);
                    }
    
                    &.Ground {
                        background-color: var(--type-ground);
                    }

                    &.Ice {
                        background-color: var(--type-ice);
                    }
    
                    &.Normal {
                        background-color: var(--type-normal);
                    }

                    &.Poison {
                        background-color: var(--type-poison);
                    }
    
                    &.Psychic {
                        background-color: var(--type-psychic);
                    }

                    &.Rock {
                        background-color: var(--type-rock);
                    }
    
                    &.Steel {
                        background-color: var(--type-steel);
                    }
    
                    &.Water {
                        background-color: var(--type-water);
                    }
                }
            }

            &.Bug {
                background-color: var(--background-type-bug);
            }

            &.Dark {
                background-color: var(--background-type-dark);
            }

            &.Dragon {
                background-color: var(--background-type-dragon);
            }

            &.Electric {
                background-color: var(--background-type-electric);
            }

            &.Fairy {
                background-color: var(--background-type-fairy);
            }

            &.Fighting {
                background-color: var(--background-type-fighting);
            }

            &.Fire {
                background-color: var(--background-type-fire);
            }

            &.Flying {
                background-color: var(--background-type-flying);
            }

            &.Ghost {
                background-color: var(--background-type-ghost);
            }

            &.Grass {
                background-color: var(--background-type-grass);
            }

            &.Ground {
                background-color: var(--background-type-ground);
            }

            &.Ice {
                background-color: var(--background-type-ice);
            }

            &.Normal {
                background-color: var(--background-type-normal);
            }

            &.Poison {
                background-color: var(--background-type-poison);
            }

            &.Psychic {
                background-color: var(--background-type-psychic);
            }

            &.Rock {
                background-color: var(--background-type-rock);
            }

            &.Steel {
                background-color: var(--background-type-steel);
            }

            &.Water {
                background-color: var(--background-type-water);
            }
        } 
    }
}