.mainContainer {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 2rem;    
    
    .titleContainer {
        margin: 2rem 0;
        text-align: center;
        
        h1 {
            font-size: 2rem;
            margin-bottom: .625rem;

            color: var(--grey-900);
        }
    }
}

@media (max-width: 1024px) {
    .mainContainer {
        padding: 0 1rem;
    }
}