.mainContainer {
    margin-bottom: 2rem;
    
    .titleContainer {
        padding: 3rem 0;
        text-align: center;
        
        h1 {
            margin-bottom: .5rem;
            color: var(--grey-900);
        }
    }
}

