.searchContainer {
    width: 22rem;
    margin: 3rem auto 2rem auto;
    display: flex;
    position: relative;

    form {
        width: 100%;

        input {
            flex: 1;
            padding: 0 1rem;
            height: 3rem;
            background-color: var(--white);
            border: 0;
            box-shadow: 0px 3px 6px var(--grey-100);
            color: var(--grey-300);
            border-right: 0;
            border-radius: 0.5rem;
            outline: none;
            width: 100%;

            &::placeholder {
                color: #b1b1b1;
                opacity: 1;
            }

            &::-ms-input-placeholder {
                color: #b1b1b1;
            }

            &:-ms-input-placeholder {
                color: #b1b1b1;
            }
        }

        button {
            width: 2rem;
            height: 2rem;
            font-size: 0;
            border: 0;
            text-align: center;
            border-radius: 0.25rem;
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translate(0, -50%);

            background: var(--red-300);
            color: var(--white);
            box-shadow: 0px 3px 9px var(--red-300);

            svg {
                width: 1.25rem;
                fill: var(--white);
            }
        }
    }
}